<%- include ('../partials/header') %>

<div class="col"><%- include ('../partials/message') %></div>
<main>
    <div class="container">
      <!-- THE REST OF YOUR HTML CODE GOES HERE -->
      <h1>Budget</h1>
      <%- include ('../partials/budgetNav') %>
  </main>

<%- include ('../partials/footer') %>