<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>


<main>
    <div class="container">
      <h1><centre>Welcome to EZBudget!</centre></h1>
        <form action="/login" method="GET">
            <button id="submit_button" class="btn btn-primary" type="submit">
                Login
              </button>
          </form>
    </div>
  </main>

  <%- include ('../partials/footer') %>