<%- include ('../partials/header') %>
<main>
    <div class="container">
      <!-- THE REST OF YOUR HTML CODE GOES HERE -->
      <h1>Register</h1>
      <form action="/register" method="POST">
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div>
        <input type="submit" value="Register">
      </div>
    </form>
    <p>If you already have an account, <a href="/login">login here</a>.</p>
    </div>
  </main>
  
  <%- include ('../partials/footer') %>
  <div class="col"><%- include ('../partials/message') %></div>